# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/

# Build
build/
dist/

# Logs
*.log